/* index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}
